    @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Black+Ops+One|Chelsea+Market|Fredericka+the+Great|Londrina+Solid|Sigmar+One');

        
    body{
        
        background-color: #2A9CF9;
        background-image: url(../fondo.png);
        background-size: cover;
    }

    h1{
        font-size: 90px;
        font-family: 'Londrina Solid', cursive;
        color: #E97814;
        text-shadow: black -7px 0;
        /*background-image: url(../)*/
    }

    .negro{
        background-image: url(../celda.png);

    }
    .amarillo{
        background: black;
        background-image: url(../camino.png);
    }
    .verde{
        background: green;
    }
    .rojo{
        background: red;
    }

    td{
        width: 80px;
        height: 80px;
        position: inherit;
        background: #FBEB5B;
        border-radius: 18px;
        color: transparent;
    }

    .btn {
        padding: 20px;
        width: 10%;
        background: #9111A8;
        color: #ECECEC;
        float: center;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.5s;
    }

    .btn:hover {
        background-color: #F9E00B;
    }

