@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Black+Ops+One|Chelsea+Market|Fredericka+the+Great|Londrina+Solid|Sigmar+One');

body{
    background-color: #2A9CF9;
    background-image: url(../fondo.png);
    background-size: cover;
  
    
}
h1{
    font-size: 90px;
    font-family: 'Londrina Solid', cursive;
    text-shadow: #F9A040 6px 0;
}

.negro{
    background: black;
    
}
.amarillo{
    background: #FBEB5B;
}
.verde{
    background: green;
}
.rojo{
    background: red;
}

td{
  width: 50px;
  height: 50px;
  position: inherit;
  background: #FBEB5B;
  border-radius: 20px;
    color: transparent;
}

.btn {
  padding: 10px;
  width: 10%;
  background: #5E3108;
  color: #ECECEC;
  font-family: 'Alfa', cursive;
  float: center;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #F9E00B;
}

