    @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Black+Ops+One|Chelsea+Market|Fredericka+the+Great|Londrina+Solid|Sigmar+One');

        
    body{
        
        background-color: #2A9CF9;
        background-image: url(../img/fondo.png);
        background-size: cover;
    }

    h1{
        margin: 0;
        font-size: 100px;
        font-family: 'Londrina Solid', cursive;
        color: #E97814;
        text-shadow: black -7px 0;
        /*background-image: url(../)*/
    }

  td{
        width: 80px;
        height: 80px;
        position: inherit;
        background: #FBEB5B;
        border-radius: 18px;
        color: transparent;
    }

    .btn {
        padding: 20px;
        width: 10%;
        background: #9111A8;
        color: #ECECEC;
        float: center;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        transition: 0.5s;
    }

    .btn:hover {
        background-color: #F9E00B;
    }


    .pared{
        background-image: url(../img/celda.png);

    }
    .camino{
        
        background-image: url(../img/camino.png);
    }
    .inicio{
        background: green;
        background-image: url(../img/inicio.png);
    }
    .fin{
        
        background-image: url(../img/fin.png);
        /*overflow: hidden;*/
    }

   

   
